@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Oswald', sans-serif;
}

//NavBar Component Styling Starts
.navBarGrandParent {
    margin: 0 5rem;

    & a {
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;

        & h1 {
            margin-bottom: 0;
        }
    }

    & a:hover {
        color: white;
    }

    & .navBarChild {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & ul {
            display: flex;
            list-style: none;
            font-size: 24px;
            margin-bottom: 0;
            margin-top: 0.5rem;

            & a {
                color: white;
                padding: 1rem;
            }

            & a:hover {
                color: black;
            }
        }
    }
}
//NavBar Component Styling Ends

//WelcomeScreen Component Styling Starts
.ancestorContainer, .componentParent {
    & /* Style the video: 100% width and height to cover the entire window */
    #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
    & h1 {
        text-align: center;
        font-size: 52px;
        margin-bottom: 0.5rem;
        margin-top: 0;
        color: white;
    }
}

.leftRightDivHolder {
    display: flex;
    justify-content: space-around;
}

.leftDiv, .rightDiv {
    width: 50%;
    height: 75vh;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s;

    & h2 {
        display: none;
        font-size: 42px;
        color: rgb(82, 81, 81);
    }

    & a {
        text-decoration: none;
    }

    & span {
        color: oldlace;
        font-size: 42px;
    }
}

.leftDiv:hover, .rightDiv:hover {
    background-color: rgba(250, 250, 250, 0.5);
    cursor: pointer;
}

.leftDiv:hover h2, .rightDiv:hover h2 {
    display: block;
}

.leftDiv:hover span, .rightDiv:hover span {
    display: none;
}
//WelcomeScreen Component Styling Ends

//Meat & Travel Components Styling Starts
.componentParent     {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .formParent, form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & .travelH2 {
            font-size: 32px;
        }

        & .meatH2 {
           font-size: 42px;
        }

        & .formChild {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & .travelLabels, .meatLabels {
                font-size: 24px;
            }

            & input, select {
                padding: 0.8rem;
                margin-bottom: 1rem;
                margin-left: 1rem;
                font-size: 18px;
            }
        }
    
        & .sbmtBtn {
            background: rgb(18, 16, 25);
            color: rgb(255, 255, 255);
            padding: 1.5rem 3rem;
            border: 0px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2em;
            margin-left: 2.8rem;
        }

        & .meatBtn {
            margin-right: 2rem;
        }

        & .sbmtBtn:hover {
            background-color: gray;
        }
    }
}

.calcResultsParent {
    background-image: url('/public/Assets/Images/cow.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 150px;
    }
    h2 {
        font-size: 72px;
        color: yellow;
        margin-top: 0;
        margin-bottom: 0; 
    }
    h3  {
        font-size: 45px;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.resultsLastDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .refreshBtn {
        background: fuchsia;
        color: white;
        padding: 1.5rem 3rem;
        border: 0px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em;
        margin-left: 2.8rem;
    }
}
