@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Oswald', sans-serif;
}

.navBarGrandParent {
  margin: 0 5rem;
}

.navBarGrandParent a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.navBarGrandParent a h1 {
  margin-bottom: 0;
}

.navBarGrandParent a:hover {
  color: white;
}

.navBarGrandParent .navBarChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBarGrandParent .navBarChild ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.navBarGrandParent .navBarChild ul a {
  color: white;
  padding: 1rem;
}

.navBarGrandParent .navBarChild ul a:hover {
  color: black;
}

.ancestorContainer #myVideo, .componentParent #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.ancestorContainer h1, .componentParent h1 {
  text-align: center;
  font-size: 52px;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: white;
}

.leftRightDivHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.leftDiv, .rightDiv {
  width: 50%;
  height: 75vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.leftDiv h2, .rightDiv h2 {
  display: none;
  font-size: 42px;
  color: #525151;
}

.leftDiv a, .rightDiv a {
  text-decoration: none;
}

.leftDiv:hover, .rightDiv:hover {
  background-color: rgba(250, 250, 250, 0.5);
  cursor: pointer;
}

.leftDiv:hover h2, .rightDiv:hover h2 {
  display: block;
}

.componentParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.componentParent .formParent, .componentParent form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.componentParent .formParent .travelH2, .componentParent form .travelH2 {
  font-size: 32px;
}

.componentParent .formParent .meatH2, .componentParent form .meatH2 {
  color: white;
}

.componentParent .formParent .formChild, .componentParent form .formChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.componentParent .formParent .formChild .travelLabels, .componentParent form .formChild .travelLabels {
  color: white;
  font-size: 24px;
}

.componentParent .formParent .formChild input, .componentParent .formParent .formChild select, .componentParent form .formChild input, .componentParent form .formChild select {
  padding: 0.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.componentParent .formParent .formChild select, .componentParent form .formChild select {
  border-radius: 5%;
}

.componentParent .formParent .sbmtBtn, .componentParent form .sbmtBtn {
  background: #121019;
  color: white;
  padding: 1.5rem 3rem;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 2.8rem;
}

.componentParent .formParent .meatBtn, .componentParent form .meatBtn {
  margin-right: 2rem;
}

.componentParent .formParent .sbmtBtn:hover, .componentParent form .sbmtBtn:hover {
  background-color: gray;
}

.calcResultsParent {
  background-image: url("/public/Assets/Images/cow.jpg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calcResultsParent h1 {
  font-size: 200px;
}

.calcResultsParent h2 {
  font-size: 72px;
  color: yellow;
  margin-top: 0;
  margin-bottom: 0;
}

.calcResultsParent h3 {
  font-size: 45px;
  color: white;
  margin-top: 0;
}
/*# sourceMappingURL=App.css.map */